# Assignement-6
# Yenumula Pavan Gopal Mourya
# CSE ( 6th Semester)

In [1]:
import pandas as pd
import csv

In [2]:
# We were facing errors while trying to read the entire csv file
# Reason the first 4 rows were like some footer . SO, let's skip them manually
population_df=pd.read_csv('population_of_female.csv',skiprows=[0,1,2,3])
# And while displaying the data . I have observed some unnecessary column in the last
# So, discard the last column without effecting any thing as shown below
population_df=population_df.iloc[:,:-1]
population_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, female",SP.POP.TOTL.FE.IN,27773.0,28380.0,28820.0,29218.0,29570.0,29875.0,...,53480.0,53953.0,54403.0,54828.0,55224.0,55591.0,55935.0,56254.0,56373.0,56330.0
1,Africa Eastern and Southern,AFE,"Population, female",SP.POP.TOTL.FE.IN,65853220.0,67606287.0,69457112.0,71375643.0,73386167.0,75478396.0,...,279546577.0,287224786.0,295088995.0,303195759.0,311387262.0,319637226.0,328158974.0,336930831.0,345889729.0,354855082.0
2,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,4145945.0,4233771.0,4326881.0,4424511.0,4526691.0,4634341.0,...,15067373.0,15594637.0,16172321.0,16682054.0,17115346.0,17614722.0,18136922.0,18679089.0,19279930.0,19844584.0
3,Africa Western and Central,AFW,"Population, female",SP.POP.TOTL.FE.IN,48802898.0,49850088.0,50928609.0,52044907.0,53196730.0,54389295.0,...,187755307.0,192900081.0,198163527.0,203513873.0,208980433.0,214578994.0,220253839.0,226004857.0,231877590.0,237813580.0
4,Angola,AGO,"Population, female",SP.POP.TOTL.FE.IN,2670229.0,2704394.0,2742689.0,2779473.0,2812590.0,2838939.0,...,12770743.0,13252938.0,13746371.0,14248799.0,14764575.0,15293335.0,15828040.0,16370553.0,16910989.0,17452283.0

In [3]:
# We were facing errors while trying to read the entire csv file
# Reason the first 4 rows were like some footer . SO, let's skip them manually
pcr_df=pd.read_csv('primary_completion_rate_female.csv',skiprows=[0,1,2,3])
# And while displaying the data . I have observed some unnecessary column in the last
# So, discard the last column without effecting any thing as shown below
pcr_df=pcr_df.iloc[:,:-1]
pcr_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,101.255234,101.55587,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,65.88575,66.028069,66.26329,66.115013,66.932449,68.167793,69.499100,69.990547,70.825378,NaN
2,Afghanistan,AFG,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,63.604069,66.688881,67.129303,65.761513,NaN,NaN
3,Africa Western and Central,AFW,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,64.04483,64.063690,64.65110,65.822060,66.608093,66.362289,66.722878,66.927361,67.231689,NaN
4,Angola,AGO,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Task-1

In [4]:
pcr_df['average_rate']=pcr_df.iloc[:,4:].mean(axis=1)
pcr_df['average_rate']

0      96.203056
1      52.899081
2      28.085734
3      54.108691
4      34.111267
         ...
261          NaN
262    48.823942
263    88.622194
264    67.949980
265    91.649270
Name: average_rate, Length: 266, dtype: float64

# Task-2

In [5]:
population_df['2021'].isna().sum() # Finding if there is any Country with no value
# We have found out that there is atleast one such Country with no entry

1

In [6]:
population_df[population_df['2021'].isna()] #  Now finding out the countries
# From the above query we found out that there is only one such country
# And nothing has been mentioned except it's Country Code (Even name of the country is not mentioned)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
110,Not classified,INX,"Population, female",SP.POP.TOTL.FE.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
population_df.loc[110].isna().sum() #  No entry for any year to consider the latest one . SO it is better if we would discard this row

62

In [8]:
population_df.shape

(266, 66)

In [9]:
# Discarding the 110 row as it is useless . No entry for even one column
# Useless
population_df = population_df.dropna(subset=["2021"])

## Note : 2021 years data is the latest data we have the data for this year for every country . Except one anamolous country which was latter removed as the row was completely useless not helping us in any way

In [10]:
population_df.shape

(265, 66)

In [11]:
# pcr_df.head()
population_df['Latest Population']=population_df['2021']
population_df['Latest Population']

0          56330.0
1      354855082.0
2       19844584.0
3      237813580.0
4       17452283.0
          ...
261       895801.0
262     16313210.0
263     30497646.0
264      9864121.0
265      8449834.0
Name: Latest Population, Length: 265, dtype: float64

# Task-3

In [12]:
pcr_df['weight']=population_df['Latest Population']/population_df['Latest Population'].sum()
# pcr_df

firstOp=(pcr_df['average_rate']*pcr_df['weight'])
#print(tmp1)
secondOp=firstOp/pcr_df['weight'].sum()
Result=secondOp.sum()
Result

77.01066757323034

# Task-4

In [13]:
# Median of average primary completion rate
Median=pcr_df['average_rate'].median()
Median

90.96608239251218

# Task-5

In [14]:
# Inter Quartile Range =  Quartile3- Quartile1
IQR=pcr_df["average_rate"].quantile(0.75)-pcr_df["average_rate"].quantile(0.25)
IQR

29.470233932195967

# Task-6

In [15]:
# Variance
Variance=pcr_df['average_rate'].var()
Variance

512.9310266943031